<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/layout.css">
  <title>Steam Games</title>
  <script>
    const handleDelete = async (e) => {
      e.preventDefault()
      fetch(`/edit/<%= data.AppID %>`, {
          method: 'DELETE'
        }).then((res) => res.json())
        .then(({
          success
        }) => {
          if (success) {
            window.location.href = '/'
          } else {}
        })
    };

    const handleSubmit = async (e) => {
      e.preventDefault()

      // Select the form element
      const form = document.getElementById('editForm');

      // Create a new FormData object from the form
      const formData = new FormData(form);
      const formDataJson = {};
      formData.forEach((value, key) => {
        formDataJson[key] = value;
      });

      fetch("/edit/<%= data.AppID %>", {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json', // Indicate that the body is JSON
          },
          body: JSON.stringify(formDataJson)
        }).then((res) => res.json())
        .then(({
          success
        }) => {
          if (success) {
            window.location.href = '/'
          } else {}
        })
    };
  </script>
  <style>
    .content-wrap {
      display: flex;
      justify-content: center;
    }

    form {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border: 5em;
      width: 100%;
      max-width: 900px;
      box-sizing: border-box;
    }

    /* Title and Button Section */
    form>div:first-child {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    button {
      padding: 10px 15px;
      font-size: 14px;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
    }

    button:hover {
      background-color: #45a049;
    }

    button[type="submit"] {
      background-color: #007bff;
    }

    button[type="submit"]:hover {
      background-color: #0056b3;
    }

    button:last-child {
      background-color: #f44336;
    }

    button:last-child:hover {
      background-color: #e02e2e;
    }

    /* Input Fields and Labels */
    div>div {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    textarea {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    textarea:focus {
      border-color: #007bff;
    }

    textarea {
      resize: vertical;
      height: 100px;
    }

    /* Checkbox Styling */
    div input[type="checkbox"] {
      margin-right: 10px;
    }

    div label {
      font-weight: normal;
      font-size: 14px;
    }

    div input[type="checkbox"]:checked {
      background-color: #007bff;
    }

    /* Layout Adjustments */
    div>div {
      display: flex;
      flex-direction: column;
    }

    div>div>div {
      margin-bottom: 15px;
    }

    @media (max-width: 768px) {
      form {
        padding: 15px;
      }

      div>div {
        flex-direction: column;
      }

      .two-column {
        display: block;
      }
    }
  </style>
</head>

<body class="body">
  <%- include('../partial/header.ejs'); %>

  <main class="container">
    <div class="content-wrap">
      <form onSubmit="" name="editForm" id="editForm" onSubmit="handleSubmit(event)">
        <div>
          <button type="submit" onClick="handleSubmit(event)">
            Update
          </button>
          <button onClick="handleDelete(event)">
            Delete
          </button>
        </div>

        <div>
          <div>
            <label>Name</label>
            <input name="Name" type="text" value="<%= data.Name %>" />
          </div>

          <div>
            <label>Release Date</label>
            <input name="Release_date" type="date" value="<%= data.Release_date %>" />
          </div>
        </div>


        <div class="two-column">
          <div>
            <label>Estimated Owners</label>
            <input name="Estimated_owners" type="text" value="<%= data.Estimated_owners %>" />
          </div>


          <div>
            <label>Peak CCU</label>
            <input name="Peak_CCU" type="number" value="<%= data.Peak_CCU %>" />
          </div>


          <div>
            <label>Required Age</label>
            <input name="Required_age" type="number" value="<%= data.Required_age %>" />
          </div>
        </div>


        <div>
          <div>
            <label>Price</label>
            <input name="Price" type="number" step="0.01" value="<%= data.Price %>" />
          </div>


          <div>
            <label>Discount DLC Count</label>
            <input name="DiscountDLC_count" type="number" value="<%= data.DiscountDLC_count %>" />
          </div>

        </div>

        <div>
          <label>About the Game</label>
          <textarea name="About_the_game"><%= data.About_the_game %></textarea>
        </div>


        <div>
          <div>
            <label>Supported Languages</label>
            <input name="Supported_languages" type="text" value="<%= data.Supported_languages %>" />
          </div>


          <div>
            <label>Full Audio Languages</label>
            <input name="Full_audio_languages" type="text" value="<%= data.Full_audio_languages %>" />
          </div>

          <div>
            <label>Reviews</label>
            <input name="Reviews" type="text" value="<%= data.Reviews %>" />
          </div>

        </div>

        <div>
          <div>
            <label>Header Image</label>
            <input name="Header_image" type="text" value="<%= data.Header_image %>" />
          </div>


          <div>
            <label>Website</label>
            <input name="Website" type="text" value="<%= data.Website %>" />
          </div>

          <div>
            <label>Support_url</label>
            <input name="Support_url" type="text" value="<%= data.Support_url %>" />
          </div>

          <div>
            <label>Support_email</label>
            <input name="Support_email" type="text" value="<%= data.Support_email %>" />
          </div>

        </div>

        <div>
          <div>
            <input type="checkbox" name="Windows" defaultChecked="<%= data.Windows %>" />
            <label htmlFor="example">
              Windows
            </label>
          </div>

          <div>
            <input type="checkbox" name="Mac" defaultChecked="<%= data.Mac %>" />
            <label htmlFor="example">
              Mac
            </label>
          </div>
          <div>
            <input type="checkbox" name="Linux" defaultChecked="<%= data.Linux %>" />
            <label htmlFor="example">
              Linux
            </label>
          </div>
        </div>



        <div>
          <label>Metacritic</label>
          <input name="Metacritic_url" type="text" value="<%= data.Metacritic_url %>" />
        </div>


        <div>

          <div>
            <label>Metacritic Score</label>
            <input name="Metacritic_score" type="number" value="<%= data.Metacritic_score %>" />
          </div>


          <div>
            <label>User Score</label>
            <input name="User_score" type="number" value="<%= data.User_score %>" />
          </div>


          <div>
            <label>Positive Reviews</label>
            <input name="Positive" type="number" value="<%= data.Positive %>" />
          </div>
        </div>


        <div>
          <div>
            <label>Negative Reviews</label>
            <input name="Negative" type="number" value="<%= data.Negative %>" />
          </div>


          <div>
            <label>Score Rank</label>
            <input name="Score_rank" type="number" value="<%= data.Score_rank %>" />
          </div>


          <div>
            <label>Achievements</label>
            <input name="Achievements" type="number" value="<%= data.Achievements %>" />
          </div>
        </div>


        <div>
          <div>
            <label>Recommendations</label>
            <input name="Recommendations" type="number" value="<%= data.Recommendations %>" />
          </div>

          <div>
            <label>Notes</label>
            <textarea name="Screenshots"><%= data.Notes %></textarea>
          </div>
        </div>

        <div>
          <div>
            <label>Average_playtime_forever</label>
            <input name="Metacritic_score" type="number" value="<%= data.Average_playtime_forever %>" />
          </div>


          <div>
            <label>Average_playtime_two_weeks</label>
            <input name="User_score" type="number" value="<%= data.Average_playtime_two_weeks %>" />
          </div>
        </div>

        <div>
          <div>
            <label>Median_playtime_forever</label>
            <input name="Metacritic_score" type="number" value="<%= data.Median_playtime_forever %>" />
          </div>


          <div>
            <label>Median_playtime_two_weeks</label>
            <input name="User_score" type="number" value="<%= data.Median_playtime_two_weeks %>" />
          </div>
        </div>


        <div>


          <div>
            <label>Owner Count</label>
            <input name="Owner_count" type="number" value="<%= data.Owner_count %>" />
          </div>


          <div>
            <label>Discount Price</label>
            <input name="Discount_price" type="number" value="<%= data.Discount_price %>" />
          </div>
        </div>

        <div>
          <div>
            <label>Developers</label>
            <input name="Developers" type="text" value="<%= data.Developers %>" />
          </div>

          <div>
            <label>Publishers</label>
            <input name="Publishers" type="text" value="<%= data.Publishers %>" />
          </div>

          <div>
            <label>Categories</label>
            <input name="Categories" type="text" value="<%= data.Categories %>" />
          </div>
        </div>

        <div>
          <div>
            <label>Genres</label>
            <input name="Developers" type="text" value="<%= data.Genres %>" />
          </div>

          <div>
            <label>Tags</label>
            <input name="Categories" type="text" value="<%= data.Tags %>" />
          </div>
        </div>



        <div>
          <label>Screenshots (URLs)</label>
          <textarea name="Screenshots"><%= data.Screenshots %></textarea>
        </div>

        <div>
          <label>Movies</label>
          <textarea name="Movies"><%= data.Movies %></textarea>
        </div>

      </form>
    </div>
  </main>

</body>

</html>